<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01.메인화면</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/common.css" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <style>
    </style>
</head>
<body class="bg-white text-black">

	<!-- 좌측 사이드 바 메뉴 -->
	<div class="left-side-bar-box">
		<div class="left-side-bar">
			<div class="menu-1">
				<ul>
					<li>
						<a href="/jnal/myCalendar" style="padding-left:21px">내 운동 캘린더</a>
					</li>
					<li>
						<a href="/stat/myStat" style="padding-left:21px">내 운동 통계</a>
					</li>
					<li>
						<a>> 내 운동 그룹</a>
						<ul id="myGrps">
							<li>
								<a href="#" style="padding-left:37px" onclick='newWorkoutGroupModalOpen();'>새 운동그룹 생성</a>
							</li>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

    <div class="flex flex-col h-screen">

        <!-- 헤더 -->
        <nav class="border-b border-gray-600 p-4 flex justify-between items-center">
            <!-- 사이드바 토글버튼 -->
            <div class="flex items-center">
                <button class="extra-btn p-2 bg-gray-600 rounded toggle-side-bar-btn" style="background-color:bisque">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>
            <!-- 제목 -->
			<h1 class="ml-4 text-2xl font-semibold">내 운동 캘린더</h1>
            <!-- 마이페이지 버튼 -->
            <button onclick="location.href='/member/myInfo'" class="extra-btn p-2 bg-gray-600 text-white rounded-full" style="background-color:bisque"> My </button>
        </nav>

        <!-- N 월 -->
        <div class="flex justify-between items-center p-4">
            <button onclick="renderNewMMCalendar(-1)" class="extra-btn bg-green-600 p-2 rounded" style="background-color:#608EBD">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>

            <span id="YYYYMM" class="text-2xl font-semibold"></span>

            <button onclick="renderNewMMCalendar(1)" class="extra-btn bg-green-600 p-2 rounded" style="background-color:#608EBD">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>

        <!-- 일 월 화 수 목 금 토 -->
        <div class="grid grid-cols-7 gap-4 px-4">
            <div class="text-center font-semibold" style="color:red">일</div>
            <div class="text-center font-semibold">월</div>
            <div class="text-center font-semibold">화</div>
            <div class="text-center font-semibold">수</div>
            <div class="text-center font-semibold">목</div>
            <div class="text-center font-semibold">금</div>
            <div class="text-center font-semibold" style="color:blue">토</div>
        </div>

        <!-- 달력 메인 -->
        <div id="calendar-content" class="flex-grow grid grid-cols-7 gap-1 p-4 overflow-y-auto">

<!--            <div id="day" class="border border-white-600 rounded text-left text-top">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>
            <div id="day" class="border border-white-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>
            <div id="day" class="border border-white-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>
            <div id="day" class="border border-white-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>
			<div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">1</span>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:#c0ed70">가슴</span>
					<span class="workout-part-box" style="background-color:moccasin">등</span>
				</div>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:lightskyblue">어깨</span>
					<span class="workout-part-box" style="background-color:hotpink">삼두<span>
				</div>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">2</span>
            </div>
            <div id="day" class="border border-blue-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:blue">3</span>
            </div>
            <div id="day" class="border border-red-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:red">4</span>
            </div>
            <div id="day" onclick="mainListModalOpen();" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">5</span>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:#c0ed70">가슴</span>
					<span class="workout-part-box" style="background-color:moccasin">등</span>
				</div>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:lightskyblue">어깨</span>
					<span class="workout-part-box" style="background-color:hotpink">삼두<span>
				</div>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">6</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">7</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">8</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">9</span>
            </div>
            <div id="day" class="border border-blue-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:blue">10</span>
            </div>
            <div id="day" class="border border-red-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:red">11</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">12</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">13</span>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:#c0ed70">가슴</span>
					<span class="workout-part-box" style="background-color:moccasin">등</span>
				</div>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:lightskyblue">어깨</span>
					<span class="workout-part-box" style="background-color:hotpink">삼두<span>
				</div>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">14</span>
            </div>
			<div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">15</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">16</span>
            </div>
            <div id="day" class="border border-blue-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:blue">17</span>
            </div>
            <div id="day" class="border border-red-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:red">18</span>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:#c0ed70">가슴</span>
					<span class="workout-part-box" style="background-color:moccasin">등</span>
				</div>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:lightskyblue">어깨</span>
					<span class="workout-part-box" style="background-color:hotpink">삼두<span>
				</div>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">19</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">20</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">21</span>
            </div>
			<div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">22</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">23</span>
            </div>
            <div id="day" class="border border-blue-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:blue">24</span>
            </div>
            <div id="day" class="border border-red-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px; color:red">25</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">26</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">27</span>
            </div>
            <div id="day" class="border border-gray-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">28</span>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:#c0ed70">가슴</span>
					<span class="workout-part-box" style="background-color:moccasin">등</span>
				</div>
				<div style="padding-left:5px">
				    <span class="workout-part-box" style="background-color:lightskyblue">어깨</span>
					<span class="workout-part-box" style="background-color:hotpink">삼두<span>
				</div>
            </div>
            <div id="day" class="border border-white-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>
            <div id="day" class="border border-white-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>
            <div id="day" class="border border-white-600 rounded text-left">
                <span class="text-sm" style="padding-left:5px">0</span>
            </div>-->
        </div>

		<!-- 새 운동일지 버튼 -->
        <div class="flex justify-between items-center p-4" style="position:fixed; bottom:0; left:0; width:100%">
            <!-- dummy -->
			<button class="bg-white-600 p-2 rounded">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                </svg>
            </button>
			<button onclick="location.href='/jnal/register' " class="extra-btn p-2 bg-blue-600 rounded-full" style="background-color:#1196C1">
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </button>
        </div>

    </div>

    <!-- 운동일지 클릭 모달 -->
    <div id="main-list-modal" class="modal-container">
        <div class="modal-wrap">
            <div class="bg-gray-800 p-3 rounded-lg max-w-xl w-full" style="background-color:white">
                <div class="bg-gray-800 p-6 rounded-lg max-w-xl w-full flex justify-between items-center" style="background-color: white;">
                    <div class="text-xl font-bold text-center flex-1">23년 12월 17일</div>
                    <div onclick='mainListModalClose();' class="extra-btn p-2 cursor-pointer modal-close rounded" style="background-color:#C2C2C2">
                    <span>&times;</span>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="extra-btn bg-sky-700 p-4 rounded-lg flex items-center justify-between" style="margin:3px; display:block; background-color:lemonchiffon">
                    <div class="flex items-center" style="margin:3px">
                        <img src="https://placehold.co/30" alt="profile placeholder" class="rounded-full mr-3">
                        <span>user1</span>
                    </div>
                    <div class="flex items-center" style="margin:3px">
                        <div class="part bg-green-500 text-white px-3 py-1 rounded-lg mr-2" style="margin:7px; background-color:#c0ed70">가슴</div>
                        <div class="part bg-yellow-500 text-white px-3 py-1 rounded-lg" style="margin:7px; background-color:moccasin">등</div>
                        <div class="part bg-sky-500 text-white px-3 py-1 rounded-lg" style="margin:7px; background-color:lightskyblue">어깨</div>
                        <div class="part bg-purple-500 text-white px-3 py-1 rounded-lg" style="margin:7px; background-color:hotpink">삼두</div>
                    </div>
                    </div>
                </div>
                <div class="flex justify-between items-center p-4">
                    <!-- dummy -->
                    <button class="bg-white-600 p-2 rounded">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        </svg>
                    </button>

                    <button class="extra-btn p-2 bg-blue-600 rounded-full" style="background-color:#1196C1">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-list-modal-background" id="main-list-modal-background"></div>

    <!-- 새 그룹생성 모달 -->
    <div id="new-workout-group-modal" class="modal-container">
        <div class="modal-wrap">
            <div class="bg-gray-800 p-3 rounded-lg max-w-xl w-full" style="background-color:white">
                <div class="bg-gray-800 p-6 rounded-lg max-w-xl w-full flex justify-between items-center" style="background-color: white;">
                    <div class="text-xl font-bold text-center flex-1">새 운동 그룹</div>
                    <div onclick='newWorkoutGroupModalClose();' class="extra-btn p-2 cursor-pointer modal-close rounded" style="background-color:#C2C2C2">
                    <span>&times;</span>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="extra-btn bg-sky-700 p-4 rounded-lg flex items-center justify-between" style="margin:3px; display:block; background-color:lemonchiffon">
                        <div class="flex items-center" style="margin:3px">
                            <span class="text-1xl font-semibold">▷ 그룹명</span>
                        </div>
                        <div class="flex justify-between items-center p-4">
                            <input
                            type="text"
                            id="newGrpNm"
                            class="bottom-border"
                            style="width: 50%; background-color:lemonchiffon; border-color:gray"
                            value="주니어올림피아"
                            />
                        </div>

                        <div class="flex justify-end items-center p-1">
                            <button id="newGrpBtn"
                                    class="extra-btn p-2 bg-gray-600 text-white rounded" style="background-color: #1196c1; margin-right: 10px">
                            저장
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-workout-group-background" id="new-workout-group-background"></div>

  </body>

  <!-- common.js -->
  <script>

      /**
       * # 초기화면로드
       * */
      $(document).ready(function(){

          // (1-1) 내 그룹 모두 조회하여 사이드바에 렌더링
          $.ajax({
              type: "GET",
              url: "http://localhost:8080/grp/myAll",
              dataType:'json',
              data: {},
              xhrFields: {
                  withCredentials: true
              },
              success: function (response) {
                  renderSideGrps(response);
              },
              error: function (request, error) {
                  console.log("Grps Loading Fail..");
                  alert("code:"+request.status+"\n"
                      +"message:"+request.responseText+"\n"
                      +"error:"+error)
              }
          });

          // (1-2) 현재MM 메인캘린더 렌더링
          var today = new Date();
          renderCalendar(today);

      });

      /**
       * SIDEBAR EVENT) 사이드바 내 그룹 렌더링
       * */
      function renderSideGrps(grpListDTO) {
          grpListDTO.grpDTOList.forEach(function(grpDTO, idx) {
              var d1_ul = document.getElementById("myGrps");

              var d2_li = document.createElement("li");

              var d3_a = document.createElement("a");
              d3_a.setAttribute("href", "#");
              d3_a.setAttribute("style", "padding-left:20px");
              d3_a.innerText = "> " + grpDTO.grpNm;

              var d3_ul = document.createElement("ul");

              var d4_li1 = document.createElement("li");

              var d5_a1 = document.createElement("a");
              d5_a1.setAttribute("href", "/grp/info?grpId="+grpDTO.grpId);
              d5_a1.setAttribute("style", "padding-left:50px");
              d5_a1.innerText = "그룹 페이지";

              var d4_li2 = document.createElement("li");
              var d5_a2 = document.createElement("a");
              d5_a2.setAttribute("href", "/grp/grpCalendar?grpId="+grpDTO.grpId);
              d5_a2.setAttribute("style", "padding-left:50px");
              d5_a2.innerText = "운동 캘린더";

              var d4_li3 = document.createElement("li");
              var d5_a3 = document.createElement("a");
              d5_a3.setAttribute("href", "/stat/grp?grpId="+grpDTO.grpId);
              d5_a3.setAttribute("style", "padding-left:50px");
              d5_a3.innerText = "운동 통계";

              d4_li1.appendChild(d5_a1);
              d4_li2.appendChild(d5_a2);
              d4_li3.appendChild(d5_a3);

              d3_ul.appendChild(d4_li1);
              d3_ul.appendChild(d4_li2);
              d3_ul.appendChild(d4_li3);

              d2_li.appendChild(d3_a);
              d2_li.appendChild(d3_ul);

              d1_ul.appendChild(d2_li);
          });
      }

      /**
       * SIDEBAR EVENT) 신규 그룹 생성
       * - param = [그룹명]
       * - response = [신규그룹ID]
       * - redirect = [그룹정보페이지]
       */
      $(document).on("click", "#newGrpBtn", function() {
          var newGrpNm = document.getElementById("newGrpNm").value;
          $.ajax({
              type: "POST",
              url: "http://localhost:8080/grp/register",
              dataType:'json',
              data: {
                  grpNm : newGrpNm
              },
              success: function (response) {
                  alert("새 그룹이 생성되었습니다.");
                  location.href="/grp/info?grpId="+response;
              },
              error: function (request, error) {
                  console.log("그룹 생성 도중 오류가 발생하였습니다.");
                  alert("code:"+request.status+"\n"
                      +"message:"+request.responseText+"\n"
                      +"error:"+error)
              }
          })
      });

      /**
       * CALENDAR EVENT1) MM +-1 월 이동처리
       *  - param = [현재 MM 으로부터 이동하려는 range]
       * */
      function renderNewMMCalendar(range) {
          console.log("renderBeforeMMCalendar called..");

          // (1) 당월 날짜
          var calendarYYYYMM = document.getElementById("YYYYMM");
          var curDate = new Date(calendarYYYYMM.getAttribute("date"));

          // (2) 당월+-1 월 날짜
          var newDate = new Date(
              curDate.getFullYear(),
              curDate.getMonth() + range,
              curDate.getDate()
          );

          // (3) 이전 캘린더 삭제
          var prevCalendarContent = document.getElementById("calendar-content");
          while (prevCalendarContent.hasChildNodes()) {
              prevCalendarContent.removeChild(prevCalendarContent.firstChild);
          }

          // (4) MM월 메인캘린더 렌더링 호출
          renderCalendar(newDate);
      }

      /**
       * CALENDAR Event2) MM 월 메인캘린더 렌더링
       *  - param = [Date]
       * */
      function renderCalendar(date) {
          // 헤더렌더링
          var calendarYYYYMM = document.getElementById("YYYYMM");
          calendarYYYYMM.setAttribute("date", date);
          calendarYYYYMM.innerText = date.getFullYear() + "년 " + (date.getMonth()+1) + "월";

          // 컨텐츠렌더링
          var year = date.getFullYear();
          var month = (date.getMonth()+1).toString().length === 1
              ? "0"+(date.getMonth()+1).toString() : (date.getMonth()+1).toString();
          var curYyyyMm = year + month;

          $.ajax({
              type: "GET",
              url: "http://localhost:8080/jnal/calendar",
              dataType:'json',
              xhrFields: {
                  withCredentials: true
              },
              data: {
                  yyyyMm : curYyyyMm
              },
              success: function (oneMonthCalendarDTO) {
                  console.log("Calendar Load Success");
                  renderCalendarContents(oneMonthCalendarDTO);
              },
              error: function (request, error) {
                  console.log("캘린더 로딩 중 오류가 발생하였습니다..\n");
                  alert("code:"+request.status+"\n"
                      +"message:"+request.responseText+"\n"
                      +"error:"+error)
              }
          })
      }

      /**
       * CALENDAR Event3) MM 월 메인캘린더 컨텐츠 렌더링
       *  - param = [OneMonthCalendarDTO]
       * */
      function renderCalendarContents(oneMonthCalendarDTO) {

          console.log(oneMonthCalendarDTO);

          var curMM = new Date(document.getElementById("YYYYMM").getAttribute("date")).getMonth()+1;

          var d1_calendarContent = document.getElementById("calendar-content");

          oneMonthCalendarDTO.oneDayCalendarDTOList.forEach(function(oneDayCalendarDTO, idx) {
              var d2_dayComponent = document.createElement("div");

              d2_dayComponent.setAttribute("id", "day");

              if (parseInt(oneDayCalendarDTO.mm) !== curMM) {
                  d2_dayComponent.setAttribute("class", "border border-white-600 rounded text-left text-top");
              } else if (oneDayCalendarDTO.dayOfWeekClsfCd === "SUN") {
                  d2_dayComponent.setAttribute("class", "border border-red-600 rounded text-left");
              } else if (oneDayCalendarDTO.dayOfWeekClsfCd === "SAT") {
                  d2_dayComponent.setAttribute("class", "border border-blue-600 rounded text-left");
              } else {
                  d2_dayComponent.setAttribute("class", "border border-gray-600 rounded text-left");
              }

              var d3_ddComponent = document.createElement("span");
              d3_ddComponent.setAttribute("class", "text-sm");
              if (oneDayCalendarDTO.dayOfWeekClsfCd === "SUN") {
                  d3_ddComponent.setAttribute("style", "padding-left:5px; color:red");
              } else if (oneDayCalendarDTO.dayOfWeekClsfCd === "SAT") {
                  d3_ddComponent.setAttribute("style", "padding-left:5px; color:blue");
              } else {
                  d3_ddComponent.setAttribute("style", "padding-left:5px");
              }
              d3_ddComponent.innerText = parseInt(oneDayCalendarDTO.dd).toString();

              d2_dayComponent.appendChild(d3_ddComponent);

              d1_calendarContent.appendChild(d2_dayComponent);
          });

      }

  </script>

  <script type="text/javascript" src="/js/common.js"></script>

</html>